Options +SymLinksIfOwnerMatch

RewriteEngine on
RewriteCond %{REQUEST_URI} !^/user/index.php
RewriteCond %{REQUEST_URI} !^/user/(img|static|styles|data|js)/.*
RewriteRule ^.*$ /user/index.php [L,QSA]
