Options +SymLinksIfOwnerMatch

RewriteEngine on
RewriteCond %{REQUEST_URI} !^/OkyDoky/index.php
RewriteCond %{REQUEST_URI} !^/OkyDoky/(img|static|styles|data|js)/.*
RewriteRule ^.*$ /OkyDoky/index.php [L,QSA]

