@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*
font-family: 'Caveat Brush', cursive;
font-family: 'Montserrat', sans-serif;
*/

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;

}

body{
	background-color: #F1F2F6;
}

h1{
	font-weight: normal;
	font-family: 'Caveat Brush', cursive;
	color:#2F3542;
}

/*--------------------------------------
--------------- NAV BARS ---------------
----------------------------------------*/

nav, .topNav{
	background-color:#F1F2F6 ; 
	display: flex;
	position: fixed;
	height: 50px;
	width: 100%;
	align-items: center;
	z-index: 100;
}

.topNav{
    top: 0px;
    color:#2F3542;
    padding: 10px;
    justify-content: space-between;
    border-bottom:solid 1px #2F3542;
}
.topNav h1{
	font-size: 35px;
}

nav{
	justify-content: center;
	border-top:solid 1px #2F3542;
	bottom: 0;
}
nav a{
	margin: 6%;
}

.backArrow{
	position: absolute;
	transform: scale(1.5);
	left: 15px;
	top:10px ;
	
}

.shareTitle{
	font-size: 3.2rem;
}

.home{
	transform: scale(2.2);
}

.top{
	transform: scale(2.2);
}

.search{
	transform: scale(2.2);
}

.post{
	transform: scale(1.9);
}

.small-bubble{
	border-radius: 100%;
	width: 36px;
	height: 36px;
}
.small-bubble-2{
	margin-top:5px; 
	border-radius: 100%;
	width: 40px;
	height: 40px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/*--------
Fil d'actu
--------*/

#verticalScrollContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	top: 50px;
	margin: 0 auto;
	padding: 20px;
	/*max-width: 600px;*/
}



.postImg, .postPdf{
	width: 100%;
	background-color: white;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
	margin: 10px;
}

.postPdf{

}

.content {
	display:flex;
	flex-direction: column;
	padding: 5%;
}

.content img{
	max-width : 100%;
	height: auto;
	display: block;

}

.postEnTete{
	display: flex;
	align-content: center;
	height: 50px;
}

.postEnTete img{
	margin-top: 4px;
	border-radius: 100%;
	width: 40px;
	height: 40px;
}
.postEnTete a{
	text-decoration: none;
	color:#2F3542;
	line-height: 50px;
	font-size: 1.3rem;
	margin-left: 10px;
}

.postReactions{
	padding: 0 3%; 
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
}

.postReactions a{
	margin: 0 2%;
	
}

.postReactions p{
	color:#2F3542;
	font-size: 1.3rem;
}

.left{
	display: flex;
	align-items: center;
	width: 50%;
}


.right{
	padding: 0 5px;
	display: flex;
	justify-content: flex-end;
	width: 50%;
}

/*File uploads page*/

.topBar{
	display: flex;
	justify-content: center;
}

.topBar i{
	position: absolute;
	left: 10px;
	top: 10px;
}


.shareContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	max-width: 900px;
	color:#2F3542;
	height: 80vh;
}

form{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
}

.titleInput, .descriptionInput{
	margin: 10px 0;
	border:0;
	width: 300px;
	border-radius: 5px;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

.titleInput{
	height: 30px;
	padding: 0.4rem;
}

.descriptionInput{	
	height: 100px;
	padding: 0.4rem;
}

.fileUploadLabel{
	border-radius: 100%;
	height:100px;
	width: 100px;
	line-height: 120px;
	text-align: center;
	background-color: white;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

.fileUploadLabel img{
	display: inline-block;
	transform: scale(2.4);
}

.fileUploadInput{
	display: none;
}

.submitUploadLabel{
	border-radius: 25px;
	height:50px;
	width: 80px;
	line-height: 70px;
	text-align: center;
	background-color: white;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}
.submitUploadLabel img{
	display: inline-block;
	transform: scale(1.5);
}

#submit{
	display: none;
}














.carroussel {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}