body{
	font-family: Caveat Brush;
	background-color: #E5E5E5;
}
#page{
	opacity: 1;
}
/* -------- PARTIE NAV TOP PROFIL -----------*/

.flecheretour, .logoparametre, .logofavori {
	position: absolute;
	top: 2%;
	width: 50px;
}
.flecheretour{
	right: 93%;
	width: 6%;
}
.logoparametre{
	left: 90%;	 
}

.logofavori{
	left: 80%;
}
/* -------- COMPTEURS PROFIL -----------*/

.cpts{
	position: relative;
	float: right;
	display: flex;
	flex-direction: row;
	margin-right: 15%;
	top:-45px;
	font-size: 1.5em;
}

.cpt{
	margin-right: 7%;
	margin-left: 7%;
}

.logocptperso, .logocptpost{
	width: 50px;
	height: 50px;
}

.cptpers, .cptpost{
	margin-top:10px;

}

/* -------- PERSONNE PROFIL -----------*/

.pictprofil{
	width: 150px;
	height: 150px;
	border-radius: 90px;
}

.nomprofil{
		margin-top: 6%;

}
.nameprofil{
	margin-left: 5px;
	margin-bottom: 3px;
	font-size: 1.5em;
	width: 300px;

}

.modiferprofil{
	margin-left: 27%;
	font-size: 1.2em;
}

.containerimgnom{
	display: flex;
	flex-direction: row;
}

.logocertifier{
	width: 30px;
}

.roleprofil{
	background-color: #ffa31a;
	width: 70px;
	height: 18px;
	border-radius: 10px;
	font-size: 0.8em;
	text-align: center;
	color: white;

}

/* -------- CADRES PROFIL -----------*/

/*.descrip .cadre, .cadre{
	margin-top: 100px;
	width: 100%;
	height: 100px;
	background-color: white;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
	margin: 10px;
	padding: 5px;
	font-size: 1.2em;

}
*/


/* -------- COMMU PROFIL -----------*/

.communitySelectorProfil{
    height: 90px;
    margin: 0 auto;
    padding: 5px;
    max-width: 550px;
    background-color: white;
}

.horizontal-scroll{
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}
.horizontal-scroll div{
    margin: 0 5px;
}

.communityPreview-profil{
    position: relative;
    width: 120px;
    height:80px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

.checkfilter{
    position: relative;
    transform: scale(2) translateY(-120%) translateX(70%);
}

.communityPreviewLabel-profil{
    position: relative;
    top: -25px;
    margin:0 1rem;
    text-align: center;
    font-family: 'Caveat Brush', cursive;
    font-size: 0.8rem;
    background-color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

.blurryOverlayProfilFilter{
    filter: blur(1px);
}

/* --------  PARAMETRES -----------*/

#pageparametres{
	display: none;
	z-index: 100;
	position: absolute;
	top: 30%;
	background-color: white;
	width: 500px;
	height: 500px;
}

#pageparametres .cadre{
	height: 50px;
	width: 450px;
	text-decoration-style: none;
	font-size: 0.9em;
}




















