/********************************
-------------IMPORT--------------
********************************/
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
/*
font-family: 'Yusei Magic', sans-serif;
font-family: 'Shadows Into Light', cursive;
*/


/********************************
-------------GENERAL-------------
********************************/

*{
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  font-family: 'Yusei Magic', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body{
	background-color: #f1f2f6;

}

.pointeur{
  cursor: pointer;
}

.multicolortext {
        background-image: linear-gradient(to left, #feac5e, #c779d0, #4bc0c8, #42db75); 
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
      }


/********************************
------LANDING PAGE NAV BAR-------
********************************/


nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4bc0c8;
  /*border-bottom: 1px solid #E4E4E4;*/
  width: 100%;
  z-index: 200;
  height: 50px;
}

.top-left-name{
  color: #f1f2f6;
  font-size: 2rem;
  text-decoration: none;
  margin-left: 10px;
  cursor: pointer;
}

.top-left-name-absolute{
  position: absolute;
  z-index: 10;
  color: #f1f2f6;
  font-size: 2rem;
  text-decoration: none;
  margin-left: 5px;
}

.l-sButton{
  margin-top:1rem;
  margin-right: 1rem;
  color:#f1f2f6;
  font-size: 1.3rem;  
  text-align: center;
  padding: 0.4rem;
  border-radius: 10px;
  text-decoration: none;
  border : 2px solid #f1f2f6;
}

/*@media screen and (min-width: 700px){
  nav{
    height: 50px;
  } 

  .top-left-name{
  font-size: 2rem;
  }
  .top-left-name-absolute{
  font-size: 2rem;
  margin-left: 10px;
}
  .l-sButton{
  font-size: 1rem;
  padding: 0.4rem;
  border-radius: 10px;
  border : 2px solid #2f3542;
}
}*/

/*@media screen and (max-width: 1000px){
  nav{
    height: 10vh;
  }
  .top-left-name{
  font-size: 4rem;
  }
  .l-sButton{
  font-size: 2.5rem;
  padding: 2rem;
  margin-right: 20px;
  border : 4px solid #2f3542;
}
}
*/

/********************************
-----------CONTAINER-------------
********************************/

.container{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 100vh;
}


/********************************
--------------HOME---------------
********************************/

.bg-element-1{
  position: absolute;
  margin-top: -10px;
  transform: translateY(-20%) rotate(180deg);
  z-index: -1;
}

/*@media screen and (min-width: 1000px){
.bg-element-1{
  margin-top: -10px;
  transform: scaleY(0.8) translateY(-20%) rotate(180deg);
}
}*/

.container-join{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
}

.container-infos{
  display: flex;
  flex-direction: column;
}

.point-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.reverse{
  flex-direction: row-reverse;
}

.point-container .img{
  width: 500px;
  height: 500px;
  background: no-repeat center;
  background-size:500px; 
}

.img-desc{
  max-width: 200px;
}

.homeTitle{
  color: #2f3542;
  font-size: 9rem;
}

.homeSlogan{
		font-size: 4rem;
		text-align: center;
		color: #2f3542;
    font-family: 'Shadows Into Light', cursive;
}
.homeSlogan *{
    font-family: 'Shadows Into Light', cursive;
}


.bubble{
  position: absolute;
  height: 300px;
  width: 300px;
  transform: translateY(-80%) translateX(-20%);
  z-index: -1;
}


@media screen and (max-width: 700px){
  .homeTitle{
  font-size: 5rem;
  }
  .homeSlogan{
    font-size: 2rem;
  }
  .bg-element-1{
  transform: scaleY(0.8) translateY(-20%) rotate(180deg);
}
.container-join{
  height: 100px;
}
}

@media screen and (max-width: 1000px){
  .reverse{
    flex-direction: row;
  }

  .container-infos,.container .next{
    display: none;
  }
  .container{
    height: 65vh;
  }
  .l-sButton{
  display: none;
}

}




/* ----------------------------------------------
 * Generated by Animista on 2021-1-23 21:27:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
          animation: tracking-in-expand 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}








/********************************
-------MULTICOLOR BUTTON---------
********************************/

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2f3542;
    cursor: pointer;
    transition: transform 0.4s cubic-bezier(0.23,1.83,0.42,1.19);
}
.box:hover {
    transform: scale(1.05);
}
.box p {
  margin-top: 30px;
  transform: scale(1.2);
  position: absolute;
  font-size: 3rem;
  letter-spacing: 3px;
}

.box p{
  margin-top: 0;
  font-size: 1rem;
}

.circle {
    width: 150px;
    height: 160px;
    border-radius: 50%;
    animation: 6s linear infinite spinning;
    box-shadow: 
		0 -5px 0 #feac5e,
		-5px 0 0 #c779d0,
		0 5px 0 #4bc0c8,
		5px 0 0 #42db75;
}

@media screen and (max-width: 700px){
  .box {
    transform: scale(0.8);
  }
  .circle{
    width: 150px;
    height: 160px;
  }
}


@keyframes spinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*******************************************************
***********************************************************
**************************************************************
******************
#feac5e, #c779d0, #4bc0c8, #42db75
********************************************/
/*https://codepen.io/shayanea/pen/eVMMgO */

.form-structor {
   height: 95vh;
   width: 100%;
   margin: 0 auto;
   position: relative;
   overflow: hidden;
}
 .form-structor::after {
   content: '';
   opacity: 0.8;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-repeat: no-repeat;
   background-position: left bottom;
   background: -webkit-linear-gradient(#4bc0c8, #c779d0);
}
 .form-structor .signup {
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   width: 500px ;
   z-index: 5;
   -webkit-transition: all 0.3s ease;
}

 .form-structor .signup.slide-up {
   top: 5%;
   -webkit-transform: translate(-50%, 0%);
   -webkit-transition: all 0.3s ease;
}
 .form-structor .signup.slide-up .form-holder, .form-structor .signup.slide-up .submit-btn {
   opacity: 0;
   visibility: hidden;
}
 .form-structor .signup.slide-up .form-title {
   font-size: 1em;
   margin-top: 20px;
   cursor: pointer;
}
 .form-structor .signup.slide-up .form-title span {
   margin-right: 5px;
   opacity: 1;
   display: inline;
   -webkit-transition: all 0.3s ease;
}
 .form-structor .signup .form-title {
   color: #fff;
   font-size: 3em;
   text-align: center;
}
 .form-structor .signup .form-title span {
   color: #2f3542;
   opacity: 0;
   display: none;
   -webkit-transition: all 0.3s ease;
}
 .form-structor .signup .form-holder {
   border-radius: 15px;
   background-color: #fff;
   overflow: hidden;
   margin-top: 50px;
   opacity: 1;
   visibility: visible;
   -webkit-transition: all 0.3s ease;
}
 .form-structor .signup .form-holder .input {
   border: 0;
   outline: none;
   box-shadow: none;
   display: block;
   height: 50px;
   line-height: 30px;
   padding: 8px 15px;
   border-bottom: 1px solid #eee;
   width: 100%;
   font-size: 1rem;
}

 .form-structor .signup .form-holder .input::-webkit-input-placeholder {
   color: rgba(0, 0, 0, 0.4);
}

 .form-structor .signup .submit-btn {
   background-color: #c779d0;
   color: #2f3542;
   border: 0;
   border-radius: 15px;
   display: block;
   margin: 15px auto;
   padding: 15px 15px;
   width: 50%;
   font-size: 1rem;
   font-weight: bold;
   cursor: pointer;
   opacity:0.9;
   visibility: visible;
   -webkit-transition: all 0.3s ease;
}
 .form-structor .signup .submit-btn:hover {
   transition: all 0.3s ease;
   opacity: 1;
}


@media screen and (max-width: 1000px){
  .form-structor .signup {
    max-width: 85%;
    top: 40%;
  }

}



 .form-structor .login {
   position: absolute;
   top: 20%;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #f1f2f6;
   z-index: 5;
   -webkit-transition: all 0.3s ease;
}
 .form-structor .login::before {
   content: '';
   position: absolute;
   left: 50%;
   top: -20px;
   -webkit-transform: translate(-50%, 0);
   background-color:#f1f2f6 ;
   width: 200%;
   height: 250px;
   border-radius: 50%;
   z-index: 4;
   -webkit-transition: all 0.3s ease;
}
 .form-structor .login .center {
   position: absolute;
   top: calc(50% - 10%);
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   width: 500px;
   z-index: 5;
   -webkit-transition: all 0.3s ease;
}
 .form-structor .login .center .form-title {
   color: #000;
   margin-top: 80px;
   font-size: 1.7em;
   text-align: center;
}
 .form-structor .login .center .form-title span {
   color: rgba(0, 0, 0, 0.4);
   opacity: 0;
   display: none;
   -webkit-transition: all 0.3s ease;
}
 .form-structor .login .center .form-holder {
   border-radius: 15px;
   background-color: #fff;
   border: 1px solid #eee;
   overflow: hidden;
   margin-top: 50px;
   opacity: 1;
   visibility: visible;
   -webkit-transition: all 0.3s ease;
}
 .form-structor .login .center .form-holder .input {
   border: 0;
   outline: none;
   box-shadow: none;
   display: block;
   height: 50px;
   line-height: 30px;
   padding: 8px 15px;
   border-bottom: 1px solid #eee;
   width: 100%;
   font-size: 1rem;
}

 .form-structor .login .center .form-holder .input::-webkit-input-placeholder {
   color: rgba(0, 0, 0, 0.4);
}
 .form-structor .login .center .submit-btn {
   background-color: #42db75;
   color: #2f3542;
   border: 0;
   border-radius: 15px;
   display: block;
   margin: 15px auto;
   padding: 15px 45px;
   width: 50%;
   font-size: 1rem;
   font-weight: bold;
   cursor: pointer;
   opacity: 0.8;
   visibility: visible;
   -webkit-transition: all 0.3s ease;
}
 .form-structor .login .center .submit-btn:hover {
   transition: all 0.3s ease;
   opacity: 1;
}
 .form-structor .login.slide-up {
   top: 90%;
   -webkit-transition: all 0.3s ease;
}
 .form-structor .login.slide-up .center {
   top: 10%;
   -webkit-transform: translate(-50%, 0%);
   -webkit-transition: all 0.3s ease;
}
 .form-structor .login.slide-up .form-holder, .form-structor .login.slide-up .submit-btn {
   opacity: 0;
   visibility: hidden;
   -webkit-transition: all 0.3s ease;
}
 .form-structor .login.slide-up .form-title {
   font-size: 1em;
   margin: 0;
   padding: 0;
   cursor: pointer;
   -webkit-transition: all 0.3s ease;
}
 .form-structor .login.slide-up .form-title span {
   margin-right: 5px;
   opacity: 1;
   display: inline;
   -webkit-transition: all 0.3s ease;
}

@media screen and (max-width: 1000px){
   .form-structor .login .center {
    max-width: 85%;
    top: calc(35% - 10%);
  }
}
@media screen and (max-width: 450px){
.form-structor .signup .form-holder{
  margin-top: 10px;
}
.form-structor .signup .form-title{
  font-size: 2rem;
}
.form-structor .login {
  top:25%;
}
}
